.section-title {
    font-size: 15px;
    -fx-font-size: 15px;
    font-weight: bold;
    -fx-font-weight: bold;
}

.text-muted {
    -fx-text-fill: derive(-fx-text-base-color, -45%);
}

.sql-log-view {
    font-family: "Consolas", monospace;
    -fx-font-family: "Consolas", monospace;
    font-size: 11px;
    -fx-font-size: 11px;
}
